
<html >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
    <link rel="stylesheet" href="/css/index.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
      html,
      body {
        height: 100%;
        width: 100%;
      }
    </style>
    <script
      src="https://unpkg.com/react/umd/react.production.min.js"
      crossorigin
    ></script>

    <script
      src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"
      crossorigin
    ></script>

    <script
      src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
      crossorigin
    ></script>
  </head>
  <body>
    <div class="bgblurred">
      <!--<svg
        width="1512"
        height="794"
        viewBox="0 0 1512 794"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_b_350_5079)">
          <path
            d="M0 -1H1512V794H0V-1Z"
            fill="url(#paint0_linear_350_5079)"
            fill-opacity="0.8"
          />
        </g>
        <defs>
          <filter
            id="filter0_b_350_5079"
            x="-39"
            y="-40"
            width="1590"
            height="873"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feGaussianBlur in="BackgroundImage" stdDeviation="39" />
            <feComposite
              in2="SourceAlpha"
              operator="in"
              result="effect1_backgroundBlur_350_5079"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_backgroundBlur_350_5079"
              result="shape"
            />
          </filter>
          <linearGradient
            id="paint0_linear_350_5079"
            x1="730.5"
            y1="21.1504"
            x2="1425.21"
            y2="789.695"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#1E3A00" />
            <stop offset="0.971682" stop-color="#56A700" />
          </linearGradient>
        </defs>
      </svg>-->
      <img src="/img/BG.png" style="width: 1840px; height: 815px;" />
    </div>
    <div class="logo">
      <img
        src="/img/bglog2.png"
        style="width: 63.32px; height: 74px;"
        href="/"
      />
    </div>
    <div class="navbar-brand">
      <div class="logoname">National Youth Service Corps</div>
      <div class="motto">SERVICE AND HUMILITY</div>
    </div>
    <div class="menu">
      <ul>
        <li><a href="/payment.asp">Payment Status</a></li>
        <li><a href="/senate.asp">Senate list</a></li>
        <li><a href="/graduation.asp">Graduation list</a></li>
        <li><a href="/contact.asp">Contact us</a></li>
      </ul>
      <a class="button3" href="/register">Signup</a>
      <a class="button2" href="/login">Login</a>
    </div>
    <div class="bodytext">
      <h1>
        Welcome to the NYSC Portal
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dictum et
        ante et aliquet. Quisque non enim tristique, vestibulum dolor sit amet,
        sollicitudin quam. Quisque rutrum eros in dolor tincidunt, ut varius
        nunc vulputate. Proin dolor lacus, tincidunt quis dui in, posuere
        pharetra quam. Vivamus imperdiet felis eget interdum pellentes.
      </p>
      <button class="button1" href="/login">Login</button>
    </div>
    <div class="svgball">
      <svg
        width="439"
        height="467"
        viewBox="0 0 439 467"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="233.379" cy="237.365" r="204.946" fill="#103A00" />
        <path
          d="M207.705 12.5C-57.8826 48.3544 -72.49 424.162 207.705 464"
          stroke="url(#paint0_linear_0_1)"
          stroke-width="5"
          stroke-dasharray="10 10"
        />
        <circle cx="206" cy="12" r="12" fill="#C9FFAF" />
        <defs>
          <linearGradient
            id="paint0_linear_0_1"
            x1="105.454"
            y1="428.588"
            x2="73.5836"
            y2="67.3882"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#103A00" />
            <stop offset="1" stop-color="#1F7100" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="svg1">
      <img src="/img/corpers.png" />
    </div>

    <div class="rectangle">
      <img src="/img/Rectangle 593.png" />
      <p>New: Online Application for Remobilization!!</p>
      <button class="buttonRemob">Apply for Remobilization</button>
      <p style="position: absolute; top: 71px; font-size: 16px; left: 158px;">
        Ends on the 3rd of Feb 2022
      </p>
    </div>
    <img
      src="/img/bglog2.png"
      style="
        position: absolute;
        width: 239px;
        height: 292px;
        left: 636px;
        top: 574px;
      "
    />
    <div class="body2">
      <div class="illus">
        <svg
          width="536"
          height="536"
          viewBox="0 0 536 536"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="536" height="536" fill="white" />
          <path
            d="M175.106 325.559C85.3431 325.559 12.5762 252.792 12.5762 163.029C12.5762 73.2669 85.3431 0.5 175.106 0.5C264.868 0.5 337.635 73.2669 337.635 163.029C337.635 252.792 264.868 325.559 175.106 325.559Z"
            fill="#E8FFCF"
            stroke="#DFEECF"
          />
          <path
            d="M56.6655 466.329C56.6655 502.755 86.1946 532.284 122.62 532.284C159.046 532.284 188.575 502.755 188.575 466.329C188.575 429.903 159.046 400.374 122.62 400.374C86.1946 400.374 56.6655 429.903 56.6655 466.329Z"
            fill="#EFFFDE"
          />
          <path
            d="M421.077 121.14H124.097V416.976H421.077V121.14Z"
            fill="#18341E"
          />
          <path
            d="M35.9377 483.673H511.243C511.938 483.673 512.605 483.396 513.097 482.904C513.589 482.412 513.865 481.745 513.865 481.049C513.865 480.354 513.589 479.687 513.097 479.194C512.605 478.702 511.938 478.426 511.243 478.425H35.9377C35.2417 478.425 34.5742 478.702 34.0821 479.194C33.59 479.686 33.3135 480.353 33.3135 481.049C33.3135 481.745 33.59 482.413 34.0821 482.905C34.5742 483.397 35.2417 483.673 35.9377 483.673Z"
            fill="#2D9845"
          />
          <path
            d="M137.459 394.864H190.577V431.07C190.577 438.114 187.778 444.87 182.797 449.851C177.816 454.832 171.061 457.63 164.017 457.63C156.972 457.63 150.217 454.832 145.236 449.851C140.255 444.87 137.457 438.114 137.457 431.07V394.864H137.459Z"
            fill="#528757"
          />
          <path
            d="M137.459 422.227H134.515V478.425H137.459V422.227Z"
            fill="#AE9C57"
          />
          <path
            d="M193.52 422.227H190.576V478.425H193.52V422.227Z"
            fill="#AE9C57"
          />
          <path
            d="M170.993 422.227H168.049V478.425H170.993V422.227Z"
            fill="#AE9C57"
          />
          <path
            d="M190.714 457.63H134.515V460.574H190.714V457.63Z"
            fill="#AE9C57"
          />
          <path
            d="M205.38 335.047C208.596 339.665 202.134 343.645 201.129 350.055C200.123 356.466 207.456 360.055 199.682 368.434C194.892 373.594 190.85 366.74 186.959 374.651C183.068 382.563 186.134 383.894 181.758 386.739C174.132 391.701 162.462 380.736 166.387 372.835C170.313 364.935 178.25 365.642 174.577 359.142C170.905 352.641 169.539 349.841 175.864 346.492C183.702 342.358 190.608 346.155 191.239 340.107C191.869 334.059 201.142 328.941 205.38 335.047Z"
            fill="#FFCA59"
          />
          <path
            d="M171.874 394.496L170.555 394.234C176.734 362.999 197.222 341.126 197.428 340.91L198.403 341.836C198.2 342.057 177.975 363.661 171.874 394.496Z"
            fill="#AE9C57"
          />
          <path
            d="M102.659 323.508C99.3444 330.262 108.684 334.228 111.299 342.498C113.915 350.767 104.282 353.683 116.254 363.209C123.63 369.077 125.173 365.408 127.883 378.532C130.27 390.086 139.049 379.091 145.614 385.873C154.085 394.623 167.322 375.419 160.541 365.754C153.759 356.088 145.846 358.586 149.392 349.245C152.938 339.903 148.708 332.867 139.654 329.719C128.451 325.826 124.431 335.229 122.371 327.361C120.311 319.492 107.041 314.574 102.659 323.508Z"
            fill="#ED5A24"
          />
          <path
            d="M158.954 395.445C144.669 355.84 113.568 331.34 113.257 331.096L114.361 329.672C114.678 329.919 146.187 354.742 160.648 394.834L158.954 395.445Z"
            fill="#AE9C57"
          />
          <path
            d="M172.797 279.299C235.532 279.299 286.389 228.442 286.389 165.708C286.389 102.973 235.532 52.1165 172.797 52.1165C110.063 52.1165 59.2061 102.973 59.2061 165.708C59.2061 228.442 110.063 279.299 172.797 279.299Z"
            stroke="#366D3C"
            stroke-width="8.73"
            stroke-miterlimit="10"
            stroke-dasharray="13.1 13.1"
          />
          <path
            d="M201.557 158.251C202.213 153.444 201.1 148.563 198.426 144.515C195.752 140.467 191.698 137.529 187.02 136.246C182.341 134.963 177.356 135.424 172.991 137.542C168.627 139.66 165.18 143.291 163.293 147.76C161.281 145.961 158.791 144.783 156.124 144.369C153.457 143.955 150.727 144.322 148.264 145.426C145.801 146.53 143.71 148.324 142.245 150.591C140.78 152.858 140.002 155.5 140.007 158.199H137.404C133.825 158.21 130.395 159.636 127.864 162.167C125.334 164.698 123.907 168.127 123.897 171.707C123.907 175.286 125.334 178.715 127.864 181.246C130.395 183.777 133.825 185.204 137.404 185.214H200.56C204.139 185.203 207.568 183.776 210.099 181.246C212.63 178.715 214.056 175.286 214.067 171.707C214.055 168.302 212.761 165.027 210.443 162.533C208.124 160.039 204.952 158.511 201.557 158.251Z"
            fill="white"
          />
          <path
            d="M170.697 251.796C166.844 255.924 160.696 259.305 154.118 260.746C154.118 261.186 154.105 263.62 154.055 274.84C153.988 289.802 168.232 297.121 170.443 298.243C172.586 297.257 187.01 289.954 187.077 274.987C187.127 263.767 187.138 261.333 187.14 260.894C180.574 259.394 174.512 255.958 170.697 251.796Z"
            fill="white"
          />
          <path
            d="M170.658 254.501C166.885 257.963 161.655 260.683 155.911 262.165L155.854 274.845C155.828 280.647 158.136 285.897 162.701 290.441C164.996 292.706 167.612 294.619 170.466 296.119L170.685 296.007V254.532L170.658 254.501Z"
            fill="#699768"
          />
          <path
            d="M170.69 254.531V296.017C173.473 294.558 176.032 292.707 178.288 290.521C182.9 286.011 185.252 280.783 185.279 274.98L185.335 262.3C179.617 260.766 174.431 258.011 170.69 254.531Z"
            fill="#4E684D"
          />
          <path
            d="M164.012 272.812V282.637C164.012 283.731 177.369 283.731 177.369 282.637V272.812H164.012ZM171.366 278.03V280.82C171.366 280.999 171.295 281.171 171.168 281.297C171.041 281.424 170.869 281.495 170.69 281.495C170.511 281.495 170.339 281.424 170.212 281.297C170.086 281.171 170.014 280.999 170.014 280.82V278.03C169.67 277.875 169.39 277.607 169.22 277.271C169.049 276.934 168.999 276.55 169.078 276.181C169.158 275.812 169.361 275.482 169.654 275.245C169.947 275.007 170.313 274.878 170.69 274.878C171.067 274.878 171.433 275.007 171.726 275.245C172.02 275.482 172.223 275.812 172.302 276.181C172.381 276.55 172.331 276.934 172.161 277.271C171.991 277.607 171.71 277.875 171.366 278.03Z"
            fill="white"
          />
          <path
            d="M176.206 272.108H174.847V271.447C174.847 270.344 174.409 269.287 173.629 268.508C172.85 267.728 171.793 267.29 170.69 267.29C169.588 267.29 168.531 267.728 167.751 268.508C166.972 269.287 166.534 270.344 166.534 271.447V272.108H165.182V271.447C165.204 270 165.794 268.62 166.825 267.605C167.856 266.59 169.244 266.021 170.691 266.021C172.138 266.021 173.526 266.59 174.557 267.605C175.588 268.62 176.178 270 176.2 271.447L176.206 272.108Z"
            fill="white"
          />
          <path
            d="M183.223 36.2288H160.707V64.3334H183.223V36.2288Z"
            fill="#5A894F"
          />
          <path
            d="M186.143 39.1313H163.627V67.2359H186.143V39.1313Z"
            fill="white"
            stroke="#55A35C"
            stroke-width="6.34"
            stroke-miterlimit="10"
          />
          <path
            d="M189.852 41.9807H167.336V70.0852H189.852V41.9807Z"
            fill="white"
            stroke="#55A35C"
            stroke-width="6.34"
            stroke-miterlimit="10"
          />
          <path
            d="M192.55 44.8833H170.034V72.9878H192.55V44.8833Z"
            fill="#65A064"
          />
          <path
            d="M189.046 49.4971H177.4V51.3253H189.046V49.4971Z"
            fill="#4E684D"
          />
          <path
            d="M189.046 53.7913H173.956V55.6195H189.046V53.7913Z"
            fill="#4E684D"
          />
          <path
            d="M189.046 58.0854H173.956V59.9137H189.046V58.0854Z"
            fill="#4E684D"
          />
          <path
            d="M189.046 62.3809H173.956V64.209H189.046V62.3809Z"
            fill="#4E684D"
          />
          <path
            d="M189.046 66.675H173.956V68.5031H189.046V66.675Z"
            fill="#4E684D"
          />
          <path
            d="M71.2493 165.737C72.2699 161.281 69.4847 156.841 65.0283 155.82C60.5719 154.799 56.1319 157.584 55.1112 162.041C54.0906 166.497 56.8758 170.937 61.3322 171.958C65.7886 172.979 70.2286 170.193 71.2493 165.737Z"
            fill="white"
          />
          <path
            d="M76.2453 171.765C77.2898 170.037 77.9791 168.118 78.2729 166.12L78.8888 166.211L80.1059 166.389H80.1207C80.4487 164.185 80.3399 161.938 79.8004 159.776L77.9896 160.224C77.5038 158.265 76.6323 156.422 75.4261 154.804L76.9277 153.687C75.6028 151.894 73.9371 150.38 72.0262 149.231L71.058 150.833C69.3303 149.787 67.4114 149.098 65.4137 148.804L65.6835 146.956C63.4791 146.631 61.2324 146.74 59.0697 147.276L59.5181 149.088C57.5591 149.574 55.7165 150.445 54.098 151.65L52.982 150.149C51.1882 151.474 49.6737 153.14 48.5252 155.052L50.1266 156.019C49.0822 157.747 48.3941 159.666 48.1027 161.664L46.7932 161.471L46.2586 161.397H46.2524C45.9275 163.601 46.0358 165.848 46.5715 168.01L48.3835 167.562C48.8713 169.523 49.7444 171.368 50.9519 172.988L49.4478 174.106C50.7711 175.897 52.4351 177.41 54.3444 178.557L55.3114 176.956C57.0416 178.002 58.9629 178.693 60.9631 178.989L60.75 180.426L60.6921 180.839C62.8982 181.162 65.1461 181.051 67.3095 180.511L66.8611 178.699C68.8232 178.21 70.6694 177.339 72.2935 176.134L73.4096 177.636C75.1978 176.309 76.7083 174.644 77.8553 172.736L76.2453 171.765ZM58.9121 170.982C57.51 170.137 56.3899 168.895 55.6934 167.414C54.9969 165.932 54.7554 164.278 54.9993 162.659C55.2432 161.04 55.9616 159.53 57.0637 158.32C58.1657 157.11 59.602 156.253 61.1908 155.859C62.7796 155.465 64.4495 155.551 65.9895 156.106C67.5296 156.661 68.8704 157.66 69.8426 158.977C70.8148 160.294 71.3746 161.87 71.4513 163.505C71.5279 165.14 71.118 166.761 70.2733 168.163C69.7124 169.094 68.9736 169.906 68.0991 170.551C67.2246 171.197 66.2315 171.664 65.1765 171.926C64.1214 172.187 63.0252 172.239 61.9504 172.077C60.8755 171.915 59.8431 171.543 58.9121 170.982Z"
            fill="#5A894F"
          />
          <path
            d="M45.2595 170.666C44.6761 169.78 43.9224 169.019 43.0422 168.427L43.2245 168.153L43.5854 167.615V167.608C42.6111 166.954 41.5179 166.498 40.3679 166.265L40.172 167.228C39.1302 167.016 38.0563 167.013 37.0136 167.222L36.8227 166.255C35.6699 166.479 34.5727 166.928 33.594 167.577L34.1373 168.4C33.25 168.985 32.4886 169.742 31.8978 170.626L31.0786 170.079C30.4266 171.055 29.9713 172.148 29.7384 173.299L30.6992 173.49C30.4867 174.532 30.4842 175.605 30.6918 176.648L29.7261 176.839C29.9507 177.992 30.4007 179.088 31.0503 180.066L31.8732 179.522C32.458 180.411 33.2148 181.175 34.0991 181.768L33.7111 182.347L33.5571 182.584C34.5321 183.237 35.625 183.692 36.7746 183.926L36.9705 182.964C38.0137 183.173 39.0881 183.173 40.1314 182.964L40.3235 183.931C41.4749 183.707 42.5705 183.257 43.5472 182.608L43.0028 181.786C43.8912 181.2 44.6538 180.442 45.2459 179.558L45.8816 179.984L46.0651 180.107C46.7169 179.133 47.1717 178.04 47.4041 176.891L46.4421 176.695C46.6521 175.651 46.6546 174.576 46.4494 173.532L47.4152 173.341C47.1885 172.19 46.7382 171.096 46.0898 170.119L45.2595 170.666ZM40.9703 178.732C40.2513 179.208 39.4073 179.46 38.5451 179.456C37.683 179.452 36.8414 179.192 36.1268 178.71C35.4122 178.228 34.8567 177.544 34.5307 176.746C34.2046 175.948 34.1226 175.071 34.295 174.226C34.4674 173.382 34.8864 172.607 35.4992 172C36.1119 171.394 36.8908 170.983 37.7372 170.819C38.5837 170.655 39.4597 170.746 40.2545 171.08C41.0492 171.415 41.727 171.977 42.2021 172.696C42.8393 173.66 43.0678 174.837 42.8375 175.969C42.6072 177.1 41.9369 178.095 40.9739 178.732H40.9703Z"
            fill="#5A894F"
          />
          <path
            d="M276.477 140.651V138.694C276.477 138.483 276.436 138.273 276.355 138.078C276.274 137.883 276.156 137.705 276.006 137.555C275.857 137.406 275.679 137.287 275.484 137.206C275.288 137.125 275.079 137.083 274.868 137.083H257.726C257.298 137.083 256.889 137.253 256.587 137.555C256.284 137.857 256.115 138.267 256.115 138.694V173.312H300.462V140.651H276.477Z"
            fill="#699768"
          />
          <path
            d="M300.048 143.057H258.944L256.388 172.784H298.1L300.048 143.057Z"
            fill="white"
          />
          <path
            d="M298.993 173.359H256.107L260.656 143.304C260.72 142.879 260.935 142.49 261.261 142.21C261.588 141.929 262.004 141.775 262.434 141.775H301.675C301.933 141.775 302.189 141.831 302.424 141.939C302.66 142.047 302.869 142.204 303.038 142.4C303.207 142.597 303.331 142.827 303.403 143.076C303.474 143.324 303.492 143.586 303.453 143.842L298.993 173.359Z"
            fill="#4E684D"
          />
          <path
            d="M308.609 152.786C313.827 147.569 313.827 139.111 308.609 133.894C303.392 128.677 294.934 128.677 289.716 133.894C284.499 139.111 284.499 147.569 289.716 152.786C294.934 158.004 303.392 158.004 308.609 152.786Z"
            fill="#4E684D"
          />
          <path
            d="M299.165 157.188C296.427 157.188 293.75 156.375 291.473 154.853C289.196 153.331 287.421 151.169 286.373 148.638C285.325 146.108 285.051 143.324 285.586 140.638C286.12 137.952 287.439 135.484 289.375 133.548C291.312 131.611 293.779 130.292 296.465 129.758C299.151 129.223 301.936 129.498 304.466 130.545C306.996 131.593 309.159 133.368 310.681 135.645C312.203 137.922 313.015 140.599 313.016 143.338C313.012 147.01 311.551 150.53 308.955 153.127C306.358 155.724 302.838 157.184 299.165 157.188ZM299.165 130.467C296.621 130.467 294.134 131.222 292.018 132.635C289.903 134.049 288.254 136.058 287.281 138.408C286.307 140.759 286.052 143.346 286.548 145.841C287.045 148.336 288.27 150.628 290.069 152.428C291.868 154.227 294.16 155.452 296.656 155.948C299.151 156.445 301.738 156.19 304.088 155.216C306.439 154.242 308.448 152.594 309.862 150.478C311.275 148.363 312.03 145.876 312.03 143.331C312.024 139.921 310.667 136.652 308.256 134.241C305.845 131.829 302.576 130.472 299.165 130.467Z"
            fill="white"
          />
          <path
            d="M292.734 140.922V150.381C292.734 151.435 305.599 151.435 305.599 150.381V140.922H292.734ZM299.809 145.953V148.635C299.809 148.808 299.741 148.974 299.619 149.096C299.497 149.218 299.331 149.286 299.159 149.286C298.986 149.286 298.821 149.218 298.699 149.096C298.577 148.974 298.508 148.808 298.508 148.635V145.938C298.179 145.79 297.91 145.533 297.748 145.21C297.585 144.887 297.538 144.519 297.614 144.166C297.69 143.813 297.885 143.496 298.166 143.269C298.447 143.042 298.797 142.918 299.159 142.918C299.52 142.918 299.87 143.042 300.151 143.269C300.433 143.496 300.627 143.813 300.703 144.166C300.78 144.519 300.732 144.887 300.57 145.21C300.407 145.533 300.139 145.79 299.809 145.938V145.953Z"
            fill="white"
          />
          <path
            d="M304.467 140.248H303.165V139.605C303.165 138.543 302.743 137.525 301.993 136.774C301.242 136.024 300.224 135.602 299.162 135.602C298.1 135.602 297.082 136.024 296.331 136.774C295.581 137.525 295.159 138.543 295.159 139.605V140.248H293.857V139.605C293.857 138.198 294.416 136.849 295.411 135.854C296.406 134.859 297.755 134.301 299.162 134.301C300.569 134.301 301.918 134.859 302.913 135.854C303.908 136.849 304.467 138.198 304.467 139.605V140.248Z"
            fill="white"
          />
          <path
            d="M343.495 37.1578C346.454 37.1578 348.854 34.6624 348.854 31.5842C348.854 28.5059 346.454 26.0105 343.495 26.0105C340.535 26.0105 338.135 28.5059 338.135 31.5842C338.135 34.6624 340.535 37.1578 343.495 37.1578Z"
            fill="#AAFFBD"
          />
          <path
            d="M144.869 87.7014C145.347 84.917 143.478 82.2719 140.693 81.7934C137.909 81.315 135.264 83.1843 134.785 85.9688C134.307 88.7533 136.176 91.3984 138.961 91.8768C141.745 92.3553 144.39 90.4859 144.869 87.7014Z"
            fill="#AAFFBD"
          />
          <path
            d="M310.003 222.636C311.48 222.636 312.678 221.438 312.678 219.96C312.678 218.482 311.48 217.284 310.003 217.284C308.525 217.284 307.327 218.482 307.327 219.96C307.327 221.438 308.525 222.636 310.003 222.636Z"
            fill="white"
          />
          <path
            d="M32.5786 160.561C32.9163 159.122 32.0238 157.682 30.5852 157.345C29.1465 157.007 27.7065 157.899 27.3688 159.338C27.0311 160.777 27.9236 162.217 29.3622 162.554C30.8009 162.892 32.2409 162 32.5786 160.561Z"
            fill="#AAFFBD"
          />
          <path
            d="M74.0365 262.085C76.5815 260.858 77.6499 257.8 76.4229 255.255C75.1959 252.71 72.1382 251.642 69.5933 252.869C67.0484 254.096 65.98 257.154 67.207 259.699C68.4339 262.244 71.4916 263.312 74.0365 262.085Z"
            fill="#AAFFBD"
          />
          <path
            d="M153.908 36.0601C153.792 36.0604 153.677 36.0377 153.569 35.9933C153.461 35.9489 153.364 35.8837 153.281 35.8015C153.199 35.7192 153.133 35.6215 153.089 35.514C153.044 35.4064 153.021 35.2911 153.021 35.1746V25.6874C153.021 25.452 153.115 25.2262 153.281 25.0598C153.447 24.8933 153.673 24.7998 153.908 24.7998C154.025 24.7998 154.14 24.8228 154.248 24.8674C154.355 24.912 154.453 24.9775 154.535 25.0599C154.618 25.1424 154.683 25.2402 154.727 25.3479C154.771 25.4556 154.794 25.571 154.794 25.6874V35.1746C154.794 35.2909 154.771 35.406 154.726 35.5135C154.682 35.6209 154.617 35.7185 154.535 35.8007C154.452 35.8829 154.355 35.9482 154.247 35.9927C154.14 36.0372 154.025 36.0601 153.908 36.0601Z"
            fill="#AAFFBD"
          />
          <path
            d="M148.278 30.4299C148.278 30.1951 148.372 29.9699 148.538 29.8038C148.704 29.6377 148.929 29.5444 149.164 29.5444H158.66C158.776 29.5442 158.891 29.5668 158.999 29.6112C159.107 29.6556 159.205 29.7208 159.287 29.803C159.37 29.8853 159.435 29.983 159.48 30.0906C159.524 30.1981 159.547 30.3135 159.547 30.4299C159.547 30.5465 159.524 30.6619 159.48 30.7696C159.435 30.8773 159.37 30.9752 159.287 31.0576C159.205 31.14 159.107 31.2054 158.999 31.25C158.892 31.2946 158.776 31.3176 158.66 31.3176H149.164C149.047 31.3176 148.932 31.2946 148.824 31.25C148.717 31.2053 148.619 31.1399 148.537 31.0575C148.455 30.975 148.389 30.8771 148.345 30.7695C148.301 30.6618 148.278 30.5464 148.278 30.4299Z"
            fill="#AAFFBD"
          />
          <path
            d="M236.662 223.856C236.546 223.856 236.431 223.833 236.323 223.789C236.215 223.744 236.118 223.678 236.035 223.596C235.953 223.514 235.888 223.416 235.844 223.308C235.799 223.2 235.777 223.085 235.777 222.968V213.481C235.777 213.365 235.8 213.25 235.844 213.142C235.889 213.035 235.954 212.937 236.036 212.855C236.118 212.773 236.216 212.707 236.323 212.663C236.431 212.618 236.546 212.595 236.662 212.595C236.779 212.595 236.894 212.618 237.002 212.662C237.11 212.707 237.207 212.772 237.29 212.854C237.372 212.936 237.438 213.034 237.482 213.142C237.527 213.249 237.55 213.364 237.55 213.481V222.968C237.55 223.204 237.456 223.43 237.29 223.596C237.124 223.763 236.898 223.856 236.662 223.856Z"
            fill="white"
          />
          <path
            d="M231.029 218.226C231.029 218.109 231.051 217.994 231.096 217.886C231.14 217.779 231.205 217.681 231.287 217.598C231.37 217.516 231.467 217.451 231.575 217.406C231.683 217.361 231.798 217.338 231.914 217.338H241.402C241.518 217.338 241.633 217.361 241.741 217.406C241.848 217.451 241.946 217.516 242.028 217.598C242.111 217.681 242.176 217.779 242.22 217.886C242.265 217.994 242.287 218.109 242.287 218.226C242.287 218.342 242.264 218.457 242.22 218.565C242.175 218.672 242.11 218.77 242.028 218.852C241.945 218.934 241.848 218.999 241.74 219.044C241.633 219.088 241.518 219.111 241.402 219.111H231.914C231.798 219.111 231.683 219.088 231.575 219.044C231.468 218.999 231.37 218.934 231.288 218.852C231.206 218.77 231.141 218.672 231.096 218.565C231.052 218.457 231.029 218.342 231.029 218.226Z"
            fill="white"
          />
          <path
            d="M245.125 282.851C245.009 282.851 244.894 282.829 244.786 282.784C244.679 282.74 244.581 282.674 244.499 282.592C244.417 282.51 244.352 282.412 244.307 282.305C244.263 282.197 244.24 282.082 244.24 281.966V272.479C244.24 272.244 244.333 272.018 244.499 271.852C244.665 271.685 244.89 271.592 245.125 271.591C245.241 271.591 245.357 271.614 245.464 271.659C245.572 271.703 245.67 271.769 245.752 271.851C245.835 271.933 245.9 272.031 245.945 272.139C245.989 272.247 246.012 272.362 246.012 272.479V281.966C246.012 282.082 245.989 282.198 245.945 282.305C245.9 282.413 245.835 282.511 245.752 282.593C245.67 282.675 245.572 282.74 245.464 282.785C245.357 282.829 245.241 282.852 245.125 282.851Z"
            fill="white"
          />
          <path
            d="M239.488 277.221C239.488 277.105 239.511 276.989 239.556 276.882C239.601 276.774 239.666 276.677 239.748 276.594C239.831 276.512 239.929 276.447 240.036 276.402C240.144 276.358 240.259 276.335 240.376 276.336H249.863C250.098 276.336 250.323 276.429 250.489 276.595C250.655 276.761 250.749 276.986 250.749 277.221C250.749 277.338 250.726 277.453 250.682 277.561C250.637 277.668 250.572 277.766 250.49 277.849C250.408 277.931 250.31 277.997 250.203 278.041C250.095 278.086 249.98 278.109 249.863 278.109H240.376C240.14 278.109 239.915 278.015 239.748 277.849C239.582 277.682 239.488 277.457 239.488 277.221Z"
            fill="white"
          />
          <path
            d="M166.159 214.87C167.726 214.87 168.996 213.6 168.996 212.033C168.996 210.467 167.726 209.197 166.159 209.197C164.593 209.197 163.323 210.467 163.323 212.033C163.323 213.6 164.593 214.87 166.159 214.87Z"
            stroke="white"
            stroke-width="4.23"
            stroke-miterlimit="10"
          />
          <path
            d="M260.959 478.395H249.86L248.71 454.258H262.108L260.959 478.395Z"
            fill="#AE9C57"
          />
          <path
            d="M453.894 478.395H442.792L441.645 454.258H455.041L453.894 478.395Z"
            fill="#AE9C57"
          />
          <path
            d="M444.216 412.367C442.991 416.161 441.652 420.057 440.198 424.054H255.91C255.91 424.054 232.127 327.25 255.91 309.544C256.603 309.042 257.335 308.597 258.099 308.213C290.131 291.753 418.557 287.888 444.628 309.071C444.827 309.229 445.011 309.392 445.189 309.553C454.799 318.365 463.152 353.569 444.216 412.367Z"
            fill="#723C00"
          />
          <path
            d="M325.391 424.053H255.951L262.724 356.206C274.831 361.459 307.068 389.2 325.391 424.053Z"
            fill="#982C20"
          />
          <path
            d="M444.215 412.366C442.991 416.161 441.651 420.057 440.198 424.053H373.271C384.782 402.705 412.692 370.367 439.797 355.484L444.215 412.366Z"
            fill="#982C20"
          />
          <path
            d="M467.306 355.261H441.756C439.68 355.261 437.674 356.016 436.113 357.384C434.551 358.753 433.54 360.642 433.268 362.701L425.121 424.315H275.796L267.649 362.701C267.376 360.642 266.365 358.753 264.804 357.384C263.242 356.016 261.237 355.261 259.16 355.261H233.61C232.358 355.261 231.12 355.535 229.985 356.065C228.85 356.596 227.845 357.368 227.041 358.329C226.237 359.29 225.654 360.416 225.332 361.627C225.011 362.838 224.959 364.105 225.18 365.338L239.365 467.945H461.551L475.736 365.338C475.958 364.105 475.906 362.838 475.584 361.627C475.263 360.416 474.68 359.29 473.876 358.329C473.072 357.368 472.067 356.596 470.932 356.065C469.796 355.535 468.559 355.261 467.306 355.261Z"
            fill="#723C00"
          />
          <path
            d="M423.63 390.656C435.654 394.68 433.31 420.138 423.63 424.05H277.77C266.876 421.24 265.956 387.567 281.665 390.099C377.813 408.177 382.47 379.338 423.63 390.656Z"
            fill="#78542B"
          />
          <path
            d="M312.458 364.851C312.388 370.927 312.728 377.001 313.474 383.032H381.868L385.92 316.24C381.846 291.848 370.736 285.937 353.132 285.937C337.378 285.937 326.885 298.788 320.509 315.991C314.994 330.864 312.557 348.972 312.458 364.851Z"
            fill="white"
          />
          <path
            d="M312.458 366.142L337.209 364.641C323.468 360.138 322.374 339.054 336.351 325.931L320.515 315.989C314.994 330.864 312.557 350.261 312.458 366.142Z"
            fill="#E0E0E0"
          />
          <path
            d="M307.748 396.831H401.715V364.853H317.07L307.748 396.831Z"
            fill="#372707"
          />
          <path
            d="M413.719 386.683L388.48 478.395H368.798C375.029 439.374 373.635 413.998 379.495 381.591C384.634 354.991 419.838 362.032 413.719 386.683Z"
            fill="#372707"
          />
          <path
            d="M381.418 478.395C381.418 478.335 381.418 478.275 381.418 478.213C381.461 474.976 382.776 471.887 385.08 469.613C387.384 467.339 390.491 466.064 393.728 466.064C396.965 466.064 400.071 467.339 402.375 469.613C404.679 471.887 405.995 474.976 406.037 478.213C406.037 478.275 406.037 478.335 406.037 478.395H381.418Z"
            fill="#B15626"
          />
          <path
            d="M396.089 466.134L391.615 464.766C388.662 458.955 376.064 459.674 377.82 466.747C372.876 467.482 370.278 465.032 370.278 465.032L368.798 478.406H395.487L396.089 466.134Z"
            fill="#B15626"
          />
          <path
            d="M302.891 386.683L328.133 478.395H347.813C341.582 439.374 342.978 413.998 337.116 381.591C331.977 354.991 296.772 362.032 302.891 386.683Z"
            fill="#372707"
          />
          <path
            d="M335.202 478.395C335.202 478.335 335.202 478.275 335.202 478.213C335.202 474.948 333.905 471.816 331.596 469.508C329.287 467.199 326.156 465.902 322.891 465.902C319.626 465.902 316.495 467.199 314.186 469.508C311.877 471.816 310.58 474.948 310.58 478.213C310.58 478.275 310.58 478.335 310.58 478.395H335.202Z"
            fill="#B15626"
          />
          <path
            d="M320.528 466.134L325.003 464.766C327.957 458.955 340.553 459.674 338.799 466.747C343.731 467.482 346.342 465.032 346.342 465.032L347.819 478.406H321.124L320.528 466.134Z"
            fill="#B15626"
          />
          <path
            d="M342.59 288.091C351.822 293.694 353.136 310.329 348.404 316.956L322.065 336.578L348.883 350.387L344.526 364.652C344.526 364.652 316.534 362.372 302.834 348.319C289.678 334.824 321.75 295.188 342.59 288.091Z"
            fill="white"
          />
          <path
            d="M361.316 313.327C353.422 303.411 358.874 288.092 368.938 288.542C401.715 300.081 411.833 332.119 401.449 346.501C392.552 358.823 353.424 363.567 353.424 363.567V350.077L380.612 344.203C380.612 344.203 366.59 322.482 361.316 313.327Z"
            fill="white"
          />
          <path
            d="M332.594 360.145C332.086 355.627 334.738 349.978 341.528 348.745C353.404 346.588 357.702 353.104 358.826 357.761C359.117 358.974 358.013 360.259 356.995 360.145C355.977 360.031 355.256 359.457 355.083 358.533C354.868 357.42 354.283 356.043 353.009 355.317C354.238 357.722 353.725 360.136 350.381 360.136L332.594 360.145Z"
            fill="#F7A594"
          />
          <path
            d="M359.408 360.134L368.753 313.275H370.735L360.621 364.853H332.614L329.555 360.136L359.408 360.134Z"
            fill="#66686A"
          />
          <path
            d="M370.734 313.275H440.275L429.988 364.853H360.621L370.734 313.275Z"
            fill="#888888"
          />
          <path
            d="M350.458 291.451C350.458 296.783 366.442 300.318 371.667 294.714C372.49 293.841 373.029 292.738 373.211 291.552L376.212 278.045L357.131 270.847L356.562 272.612L350.458 291.451Z"
            fill="#F7A594"
          />
          <path
            d="M373.21 291.552L376.212 278.045L358.151 273.183C353.486 287.097 370.168 298.213 373.21 291.552Z"
            fill="#F4856D"
          />
          <path
            d="M355.72 265.661C354.714 278.935 365.205 290.624 374.006 291.218C382.807 291.812 394.925 281.979 395.93 268.706C396.936 255.432 388.748 243.989 377.644 243.149C366.541 242.308 356.725 252.388 355.72 265.661Z"
            fill="#F7A594"
          />
          <path
            d="M370.436 244.154C382.606 236.436 389.303 243.696 395.367 251.384C399.618 256.778 402.63 260.655 407.924 261.461C397.742 274.303 377.381 265.832 370.966 252.964C370.323 260.288 361.699 266.356 355.72 265.657C353.784 257.509 359.429 241.031 370.436 244.154Z"
            fill="#4E4E4E"
          />
          <path
            d="M358.9 271.049C361.788 270.58 363.749 267.859 363.28 264.971C362.811 262.082 360.09 260.121 357.202 260.59C354.314 261.059 352.352 263.78 352.821 266.668C353.29 269.557 356.011 271.518 358.9 271.049Z"
            fill="#F7A594"
          />
        </svg>
      </div>
      <div class="allTodo">
        <div class="img-group">
          <img src="/img/icon1.png" />
          <img src="/img/Group 236.png" />
          <img src="/img/Group 237.png" />
          <img src="/img/Group 238.png" />
        </div>
        <div class="btn-group">
          <button href="/cod">Change of Date of Birth</button>
          <button href="/faq">Frequently Asked Question (FAQ)</button>
          <button href="/gop">Guidelines on Payment</button>
          <button href="fpr">Foreign P.C.M Requirements</button>
        </div>
      </div>
    </div>
    <svg
      width="1511"
      height="525"
      viewBox="0 0 1511 525"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="1512" height="525" fill="#F0FFE3" />
    </svg>
    <img src="/img/Group.png" />
    <img src="/img/Group 118.png" />
    <img src="/img/Group 119.png" />
  </body>
</html>
